{% extends "base.html" %}

{% block content %}


<html lang="en">
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    </head>
    <form action="upload" method="post" enctype="multipart/form-data">
        <body>
            <div class="container">




                <div class="header">
                    <h3 class="text-muted">Upload a File</h3>

                    <div class="row">
                        <div class="col-sm-9">
                            <br/>
                            <div class="form-group">
                                <div class="input-group file" >
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span><input class="btn btn-default" type="file" name="file">
                                </div>
                                <br/>
                                <div class="input-group file">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-open-file"></i></span><input class="btn btn-default" type="submit" value="Upload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row" style="background-color:#f2f2f2">
                        <div class="col-sm-9">
                            <br/>
                            <ul>
                                <li>To update stations list : filename= <strong>stations.txt</strong></li>
                                <li>...</li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </div>
            </div>
        </body>
    </form>
</html>

{% endblock %}