{% extends "base_wl.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#example-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Flasky</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Meetpost</a></li>
            <li><a href="#">Oproep</a></li>


        </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Beheer
                                <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user.profile') }}">User Profile</a></li>
                            <li><a href="{{ url_for('user.register') }}">Registreer User</a></li>
                            <li><a href="{{ url_for('main.role_page') }}">Rollen</a></li>
                            <li><a href="#">UserList</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Toepassingen</a></li>
                            <li class="divider"></li>
                            <li><a href="#">global</a></li>
                        </ul>
                    </li>

                    <li><a href="{{ url_for('user.logout') }}">Log Out</a></li>

                {% else %}
                    <li><a href="{{ url_for('user.login') }}">Log In</a></li>

                {% endif %}

            </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}