{% extends "base_wl.html" %}

{% block title %}Enki{% endblock %}

{% block head %}
{{ super() }}
<!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">-->
<!--<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">-->

<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
<link rel="icon" href="static/favicon.ico" type="image/x-icon">


{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#example-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WiLHy</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Meetpost</a></li>-->
            <!--<li><a href="{{ url_for('dlb.oproep_page') }}">Oproep</a></li>-->
            <li><a href="{{ url_for('dlb.stationlist_page') }}">Digital logbook</a></li>
            {% if current_user.is_authenticated %}
                {% if current_user.has_role('validator') %}
                    <li><a href="{{ url_for('dlb.uploadFile_page') }}">Upload file</a></li>
                {% endif %}
                {% if current_user.has_role('admin') %}
                    <li><a href="{{ url_for('user.userList_page') }}">Users management</a></li>
                    <li><a href="{{ url_for('dlb.test_page') }}">Test page</a></li>
                {% endif %}
            {% endif %}

            <!--<li><a href="{{ url_for('main.info_page') }}">info</a></li> -->


            <!--<li><a href="{{ url_for('user.newuser_page') }}">New user</a></li>-->
        </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Beheer
                                <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Users</a></li>
                            <li><a href="#">Rollen</a></li>
                            <li><a href="#">UserList</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Firma</a></li>
                            <li class="divider"></li>
                            <li><a href="#">global</a></li>
                        </ul>
                    </li>

                    <li><a href="{{ url_for('user.logout') }}">Log Out</a></li>

                {% else %}
                    <li><a href="{{ url_for('user.login') }}">Log In</a></li>

                {% endif %}

            </ul>


    </div>
</div>
{% endblock %}

    <hr class="no-margins"/>

    <div id="main-div" class="with-margins">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}

<div class="container">
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    <div class="row">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button><u>Error</u>:
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                    <div class="row">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button><u>Info</u>:
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["warning"]) %}
                {% if messages %}
                    <div class="row">
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button><u>Warning</u>:
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=[""]) %}
                {% if messages %}
                    <div class="row">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button><u>info</u>:
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

</div>
    {% endblock %}

    {% block mainl %}{% block content %}{% endblock %}{% endblock %}
    </div>

    <br/>

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
